<div class="container">
    <header>
        <h3 class="username"></h3>
        <p class="texto"> escribiendo...</p>
    </header>
    <main>
        <div class="chat"></div>
    </main>
    <footer>
        <input type="text" class="text"placeholder="mensaje"/>
        <button class="btn" type="submit">Enviar</button>
    </footer>

</div>